/*CSS EXTERNO*/

 /* Estilos Universias */
 *  {
    margin: 0;
    padding: 0;
 }

 /* Estilos gerais */
 body {
    font-family: "Arial";
    line-height: 1.6;
    background-color: #00ff1e;
    color: #333;
    padding: 20px;
 }
.destaque {
    background-color: yellow;
    color: red;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid red;
    font-weight: bold;
}   

.box {
    background-color: #ff0000;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #ff00c8;   
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer; 
      transition: all 0.3s ease;
}
/* Será executado quando o mouse passar por cima do elemento com a classe .box */
.box:hover {
    background-color: #2e2e2e;
    color:#333;
    transform: scale(0.8);
}

/*Formatando inputs de formulário*/
input {
    width: 300px;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    background-color: #4800ff;
    color: #ff0000
    font-size: 16px;
    transition: border-color 0.3s ease,
    box-shadow 0.3 ease;
}
input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 15px #007BFF(140, 201, 228, 0.5);

}

/*Selecionando uma input pelo seu tipo */
input[type="email"] {
    background-color: #ff00b7;
    color:#00ff1e;
}

/* Citações personalizadas com : before ::after */
.citacao {
    width: 620px;
    position: relative;
    padding: 30px 40px;
    background-color: #007BFF;

    border-left: 5px solid #ff00c8;
    font-style: italic;
    font-size: 20px;
    margin: 60px 0;
    
}

.citacao::before {
content: ' " ';
position: absolute;
top: -10px;
left: 10px;
font-size: 80px;
color:aquamarine;
opacity: 0.3;

}